@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 273px;
flex-direction: column;}
.iphone6781container0row0 {
display: flex;
margin-top: 0px;
width: 79px;
height: 0px;
align-items: stretch;}
.style33 {
background-color: #ffffff;
margin-left: 0px;
width: 0px;}
.iphone6781container0row0column1 {
display: flex;
margin-left: 79px;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;
height: 0px;}
.iphone6781container0row0column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 0.6875em;
font-weight: 700;}
.iphone6781container0row1 {
display: flex;
margin-left: 79px;
margin-top: 26px;
width: 0px;
height: 0px;
align-items: stretch;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;}
.iphone6781container0row1column0 {
display: flex;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;
height: 0px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.625em;
height: 0px;}
.iphone6781container0row2 {
display: flex;
margin-left: 27px;
margin-top: 1px;
width: 52px;
height: 31px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubske.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 29px;
height: 100%;
align-self: stretch;}
.iphone6781container0row2column1 {
display: flex;
margin-left: 23px;
margin-top: 21px;
width: 0px;
height: 0px;
align-items: stretch;
flex-direction: column;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;
height: 0px;}
.iphone6781container0row2column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.5em;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.1875em;
font-weight: 700;
margin-left: 74px;
margin-top: 12px;
height: 0px;}
.iphone6781container0row4 {
display: flex;
margin-top: 3px;
width: 66px;
height: 9px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 10px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubsux.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 30px;
width: 88px;
height: 84px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 1em;
font-weight: 700;
margin-left: 140px;
margin-top: 30px;
height: 0px;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 47px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 21px;
width: 265px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubt6c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 25px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 18px;
height: 0px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1em;
font-weight: 600;
margin-left: 222px;
height: 0px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 59px;
margin-top: 14px;
width: 263px;
height: 38px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 0.875em;
font-weight: 700;
margin-left: 109px;
margin-top: 9px;
height: 0px;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvnr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 79px;
margin-top: 1px;
width: 15px;
height: 18px;}
.iphone6781row3 {
display: flex;
margin-left: 19px;
margin-top: 26px;
width: 342px;
height: 67px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 135px;
margin-top: 8px;
width: 47px;
height: 41px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubttl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 12px;
height: 15px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtls.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 19px;
margin-top: 14px;
width: 342px;
height: 67px;
align-items: center;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuv7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 135px;
width: 47px;
height: 41px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvb5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 10px;
height: 13px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubv3n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;}
.iphone6781row5 {
display: flex;
margin-left: 19px;
margin-top: 15px;
width: 342px;
height: 67px;
align-items: center;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubu3m.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 135px;
width: 47px;
height: 41px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuke.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 10px;
height: 13px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubudf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 12px;
width: 80px;
height: 24px;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 47px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 559px;
flex-direction: column;}
.iphone6781container0row0 {
display: flex;
margin-top: 0px;
width: 162px;
height: 0px;
align-items: stretch;}
.style33 {
background-color: #ffffff;
margin-left: 0px;
width: 0px;}
.iphone6781container0row0column1 {
display: flex;
margin-left: 162px;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;
height: 0px;}
.iphone6781container0row0column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.408em;
font-weight: 700;}
.iphone6781container0row1 {
display: flex;
margin-left: 162px;
margin-top: 53px;
width: 0px;
height: 0px;
align-items: stretch;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;}
.iphone6781container0row1column0 {
display: flex;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;
height: 0px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.28em;
height: 0px;}
.iphone6781container0row2 {
display: flex;
margin-left: 55px;
margin-top: 2px;
width: 106px;
height: 63px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubske.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 59px;
height: 100%;
align-self: stretch;}
.iphone6781container0row2column1 {
display: flex;
margin-left: 47px;
margin-top: 43px;
width: 0px;
height: 0px;
align-items: stretch;
flex-direction: column;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;
height: 0px;}
.iphone6781container0row2column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.024em;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.432em;
font-weight: 700;
margin-left: 152px;
margin-top: 25px;
height: 0px;}
.iphone6781container0row4 {
display: flex;
margin-top: 6px;
width: 135px;
height: 18px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 20px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubsux.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 61px;
width: 180px;
height: 172px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 2.048em;
font-weight: 700;
margin-left: 287px;
margin-top: 61px;
height: 0px;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 96px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 43px;
width: 543px;
height: 51px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubt6c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 51px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 37px;
height: 0px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.048em;
font-weight: 600;
margin-left: 455px;
height: 0px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 121px;
margin-top: 29px;
width: 539px;
height: 78px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 1.792em;
font-weight: 700;
margin-left: 223px;
margin-top: 18px;
height: 0px;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvnr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 162px;
margin-top: 2px;
width: 31px;
height: 37px;}
.iphone6781row3 {
display: flex;
margin-left: 39px;
margin-top: 53px;
width: 700px;
height: 137px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;
align-self: stretch;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 276px;
margin-top: 16px;
width: 96px;
height: 84px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubttl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 31px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtls.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 39px;
margin-top: 29px;
width: 700px;
height: 137px;
align-items: center;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuv7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 276px;
width: 96px;
height: 84px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvb5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 20px;
height: 27px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubv3n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;}
.iphone6781row5 {
display: flex;
margin-left: 39px;
margin-top: 31px;
width: 700px;
height: 137px;
align-items: center;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubu3m.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 276px;
width: 96px;
height: 84px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuke.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 20px;
height: 27px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubudf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 25px;
width: 164px;
height: 49px;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 96px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 670px;
flex-direction: column;}
.iphone6781container0row0 {
display: flex;
margin-top: 0px;
width: 194px;
height: 0px;
align-items: stretch;}
.style33 {
background-color: #ffffff;
margin-left: 0px;
width: 0px;}
.iphone6781container0row0column1 {
display: flex;
margin-left: 194px;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;
height: 0px;}
.iphone6781container0row0column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 1.6866666666666665em;
font-weight: 700;}
.iphone6781container0row1 {
display: flex;
margin-left: 194px;
margin-top: 64px;
width: 0px;
height: 0px;
align-items: stretch;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;}
.iphone6781container0row1column0 {
display: flex;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
height: 0px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.5333333333333332em;
height: 0px;}
.iphone6781container0row2 {
display: flex;
margin-left: 66px;
margin-top: 2px;
width: 128px;
height: 76px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubske.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 71px;
height: 100%;
align-self: stretch;}
.iphone6781container0row2column1 {
display: flex;
margin-left: 56px;
margin-top: 52px;
width: 0px;
height: 0px;
align-items: stretch;
flex-direction: column;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;
height: 0px;}
.iphone6781container0row2column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.2266666666666666em;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.913333333333333em;
font-weight: 700;
margin-left: 182px;
margin-top: 29px;
height: 0px;}
.iphone6781container0row4 {
display: flex;
margin-top: 7px;
width: 162px;
height: 22px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 25px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubsux.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 74px;
width: 216px;
height: 206px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 2.453333333333333em;
font-weight: 700;
margin-left: 343px;
margin-top: 74px;
height: 0px;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 115px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 52px;
width: 650px;
height: 61px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubt6c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 61px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 44px;
height: 0px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.453333333333333em;
font-weight: 600;
margin-left: 545px;
height: 0px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 145px;
margin-top: 34px;
width: 645px;
height: 93px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.1466666666666665em;
font-weight: 700;
margin-left: 267px;
margin-top: 22px;
height: 0px;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvnr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 194px;
margin-top: 2px;
width: 37px;
height: 44px;}
.iphone6781row3 {
display: flex;
margin-left: 47px;
margin-top: 64px;
width: 839px;
height: 164px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;
align-self: stretch;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 331px;
margin-top: 20px;
width: 115px;
height: 101px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubttl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 29px;
height: 37px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtls.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 47px;
margin-top: 34px;
width: 839px;
height: 164px;
align-items: center;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuv7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 331px;
width: 115px;
height: 101px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvb5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 32px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubv3n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;}
.iphone6781row5 {
display: flex;
margin-left: 47px;
margin-top: 37px;
width: 839px;
height: 164px;
align-items: center;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubu3m.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 331px;
width: 115px;
height: 101px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuke.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 25px;
height: 32px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubudf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 29px;
width: 196px;
height: 59px;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 115px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 874px;
flex-direction: column;}
.iphone6781container0row0 {
display: flex;
margin-top: 0px;
width: 253px;
height: 0px;
align-items: stretch;}
.style33 {
background-color: #ffffff;
margin-left: 0px;
width: 0px;}
.iphone6781container0row0column1 {
display: flex;
margin-left: 253px;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style25 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;
height: 0px;}
.iphone6781container0row0column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style18 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;}
.style32 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 2.2em;
font-weight: 700;}
.iphone6781container0row1 {
display: flex;
margin-left: 253px;
margin-top: 83px;
width: 0px;
height: 0px;
align-items: stretch;}
.style31 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;}
.iphone6781container0row1column0 {
display: flex;
width: 0px;
align-items: stretch;
flex-direction: column;}
.style17 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;
height: 0px;}
.style24 {
color: #757575;
font-family: 'arial',serif;
font-size: 2em;
height: 0px;}
.iphone6781container0row2 {
display: flex;
margin-left: 86px;
margin-top: 3px;
width: 166px;
height: 99px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubske.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 93px;
height: 100%;
align-self: stretch;}
.iphone6781container0row2column1 {
display: flex;
margin-left: 74px;
margin-top: 67px;
width: 0px;
height: 0px;
align-items: stretch;
flex-direction: column;}
.style16 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;
height: 0px;}
.iphone6781container0row2column1row0 {
display: flex;
height: 0px;
align-items: stretch;}
.style30 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;}
.style23 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6em;}
.style5 {
color: #000000;
font-family: 'Open Sans',serif;
font-size: 3.8000000000000003em;
font-weight: 700;
margin-left: 237px;
margin-top: 38px;
height: 0px;}
.iphone6781container0row4 {
display: flex;
margin-top: 10px;
width: 211px;
height: 29px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style2 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style4 {
background-color: #b4b4b4;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style3 {
background-color: #0088ff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
width: 32px;}
.style6 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubsux.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 96px;
width: 282px;
height: 269px;
align-self: center;}
.style7 {
color: #0088ff;
font-family: 'Open Sans',serif;
font-size: 3.2em;
font-weight: 700;
margin-left: 448px;
margin-top: 96px;
height: 0px;}
.style8 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 150px;
flex-direction: column;
justify-content: center;}
.iphone6781container6row0 {
display: flex;
margin-left: 67px;
width: 848px;
height: 80px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubt6c.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 80px;
height: 100%;}
.style9 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 58px;
height: 0px;}
.style10 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 3.2em;
font-weight: 600;
margin-left: 710px;
height: 0px;}
.style34 {
background-color: #0086ff;
box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.1607843137254902);
display: flex;
margin-left: 189px;
margin-top: 45px;
width: 842px;
height: 122px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'Open Sans',serif;
font-size: 2.8000000000000003em;
font-weight: 700;
margin-left: 349px;
margin-top: 29px;
height: 0px;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvnr.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 253px;
margin-top: 3px;
width: 48px;
height: 58px;}
.iphone6781row3 {
display: flex;
margin-left: 61px;
margin-top: 83px;
width: 1094px;
height: 214px;}
.style12 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtbq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;
align-self: stretch;}
.style14 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 432px;
margin-top: 26px;
width: 150px;
height: 131px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style15 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubttl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 38px;
height: 48px;}
.style13 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubtls.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;
align-self: center;}
.iphone6781row4 {
display: flex;
margin-left: 61px;
margin-top: 45px;
width: 1094px;
height: 214px;
align-items: center;}
.style26 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuv7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;}
.style28 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 432px;
width: 150px;
height: 131px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubvb5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 32px;
height: 42px;}
.style27 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubv3n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;}
.iphone6781row5 {
display: flex;
margin-left: 61px;
margin-top: 48px;
width: 1094px;
height: 214px;
align-items: center;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubu3m.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;}
.style21 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 25px 22px;
border-top-right-radius: 25px 22px;
border-bottom-left-radius: 25px 22px;
border-bottom-right-radius: 25px 22px;
display: flex;
margin-left: 432px;
width: 150px;
height: 131px;
align-items: center;
flex-direction: column;
justify-content: center;}
.style22 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubuke.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
width: 32px;
height: 42px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/80syc5nbijmsubudf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 38px;
width: 256px;
height: 77px;}
.style37 {
background-color: #242424;
position: relative;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 150px;}
}